.content-block {
  @include block;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

  font-size: 12px;
}

.content-block__wrapper {
  width: 66%;
}

.content-block__title {
  margin-bottom: 15px;
  font-size: 16px;
  text-align: center;  
}

.content-block__description {
  margin-bottom: 15px;

  text-align: justify;

  &:last-of-type {
    margin-bottom: 25px;
  }
}

.content-block__link-more {
  display: block;
  width: 50%;
  margin: 0 auto; 
  padding: 15px 20px;
  box-sizing: border-box;

  color: #ffffff;
  text-align: center;

  background-color: #000000;
  border-radius: 10px;

  transition: all 0.3s;

  &:hover {
    width: 55%;
    background-color: #242424;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #242424;
  }
}

.content-block__logo {
  width: 33%;
}

.content-block__logo-img {
  display: block;
  width: 350px;
  height: auto;
  
  filter: drop-shadow(3px 3px 10px rgba(32, 32, 31, 0.5));   
}