.content-block {
  @include block;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.content-block__wrapper {
  width: 66%;
}

.content-block__title {
  margin-bottom: 20px;

  font-size: 18px;
  text-align: center; 
  text-transform: uppercase; 
}

.content-block__description {
  margin-bottom: 15px;

  text-align: justify;

  &:last-of-type {
    margin-bottom: 25px;
  }

  &--form {
    text-align: center;
  }
}

.content-block__list {
  padding-left: 15%;
}

.content-block__item {
  padding-left: 5px;

  &--intend-color {
    position: relative;
  }

  &--intend-color::before {
    content: "";

    position: absolute;
    top: 8px;
    left: -9px;

    border: 4px solid #5a3f08;
    transform: rotate(45deg);

  }
}

.content-block__link-more {
  display: block;
  width: 50%;
  margin: 0 auto; 
  padding: 15px 20px;
  box-sizing: border-box;

  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; 

  background-color: #000000;
  border-radius: 10px;

  transition: all 0.3s;

  &:hover {
    width: 55%;
    background-color: #242424;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #242424;
  }
}

.content-block__logo {
  width: 33%;
}

.content-block__logo-img {
  display: block;
  width: 100%;
  height: auto;
  
  filter: drop-shadow(3px 3px 10px rgba(32, 32, 31, 0.5));
}