.footer-logo {
  margin: 0 auto;
  width: 65px;
  height: 65px;

  background-image: url("../img/footer_icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  filter: invert(100);
}