


/* ---------- SERVICES SECTION ---------- */






/* -------- COMMON (ESTIMATE, CONSTRUCTION, PROJECT, CONTACT-INFO, ABOUT-US, other) SECTION -------- */


.estimate,
.construction,
.project,
.contact-info,
.about-us,
.services-inner-page,
.project-stages,
.pool-construct {
  @include block;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;

  font-size: 12px;
}

.estimate-title,
.construction-title,
.project-title,
.contact-info-title,
.about-us-title,
.services-inner-page-title,
.estimate-example-title,
.project-stages-title,
.project-composition-title,
.project-sketch-title,
.project-architecture-title,
.project-constructive-title,
.project-3d-title,
.gallery-title,
.pool-construct-title,
.pool-gallery-title,
.house-gallery-title {
  margin: 0;
  padding: 15px 30px;

  font-size: 16px;
  line-height: 24px;
  text-align: center;  
}

.estimate-description,
.project-description,
.about-us-description {
  margin: 0;
  padding: 10px 10px;

  width: 470px;

  text-align: justify;
}

.button {
  display: block;

  margin: 10px auto; 
  padding: 15px 20px;

  width: 110px;
  color: #ffffff;
  background-color: #000000;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #242424;
}


/* ---------- ESTIMATE SECTION ---------- */

.estimate-content-wrapper {
  width: 510px;
}

.estimate-logo {
  width: 400px; 
}

.estimate-logo img {
  display: block;
  
  margin: 0 auto;
  
  width: 350px;
  height: auto;

  filter: drop-shadow(3px 3px 10px rgba(32, 32, 31, 0.5));   
}


/* ---------- CONSTRUCTION SECTION ---------- */


.construction-logo {
  width: 400px;
}

.construction-logo img {
  display: block;
  
  margin: 0 auto;
  
  width: 300px;
  height: auto;

  filter: drop-shadow(3px 3px 10px rgba(32, 32, 31, 0.5));   
}

.construction-content-wrapper {
  width: 510px;

}

.construction-item {
  margin: 0;
  padding: 2px;

  width: 470px;
}


/* ---------- PROJECT SECTION ---------- */


.project-content-wrapper {
  width: 510px;
}

.project-logo {
  width: 400px;

}

.project-logo img {
  display: block;

  margin: 0 auto;

  width: 350px;
  height: auto;

  filter: drop-shadow(3px 3px 10px rgba(32, 32, 31, 0.5));   
}

/* ---------- CONTACT-INFO SECTION ---------- */


.contact-info-logo { 
  width: 510px;    
}

.contact-info-logo img { 
  display: block;
  margin: 0 auto;

  width: 300px;
  height: auto;

  filter: drop-shadow(3px 3px 10px rgba(32, 32, 31, 0.5));   
}

.contact-info-content-wrapper {
  width: 400px;
}

.contact-info-description {
  margin: 0;
  margin-bottom: 15px; 
  padding: 0;
  text-align: center;

  font-size: 14px;
}

/* ----- forms ----- */

.contact-info-item {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  width: 100%;
  text-align: center;
  
  font-size: 14px;
}

.contact-info-item label {
  display: block;
  margin-left: 5px;
  margin-bottom: 5px;
}

.contact-info-item input {
  box-sizing: border-box;
  width: 65%;
  padding: 5px;


  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.contact-info input:focus {
  border-color: #ece8e3;
}

.button-contact-info {
  margin: 15px auto;
  padding: 15px 15px;

  width: 140px;

  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}


/*  ---------- MAIN FOOTER ---------- */






.main-footer {
  color: #ffffff;
  background-color: #000000;
  margin-top: 40px;

  font-size: 12px;
}

.main-footer__wrapper {
  @include container-desktop;

  display: flex;
  justify-content: space-between;
}


.footer-contacts {
  margin: 0;
  padding: 20px 20px;

  width: 280px;
}

.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-developer-info {
  margin: auto 0px;
  padding: 20px 20px;

  width: 280px;
  text-align: center;
}

.footer-developer-info b {
  display: block;
  margin-bottom: 5px;   
}

.footer-icon {
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: #ffffff;

  background-image: url("../img/footer_icon.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 65%;
  filter: invert(100);
}

.footer-developer-name {
  position: relative;

  padding: 10px 10px 10px 25px;

  border: 1px solid white;
}

.footer-developer-name::before {
  content: "";

  position: absolute;

  width: 18px;
  height: 18px;

  top: 9px;
  left: 4px;

  background-image: url("../img/squirrel-corp_logo.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  
  transition: 0.3s ease-out;
}

.footer-developer-name:hover,
.footer-developer-name:hover::before {
  color: rgb(245, 134, 8);
}

.footer-developer-name:hover::before { 
  transform: rotate(360deg) scale(1.1);
}


/* ---------- ABOUT-US.HTML ABOUT-US SECTION ---------- */


.about-us-content-wrapper {
  width: 510px;
}

.about-us-logo {
  width: 400px;   
}

.about-us-logo img {
  display: block;

  margin: 0 auto;

  width: 350px;
  height: auto;

  filter: drop-shadow(3px 3px 5px rgba(32, 32, 31, 0.5));   
}

/* ---------- ABOUT-US.HTML SERVICE-INNER-PAGE SECTION ---------- */


.services-inner-page-wrapper {
  width: 510px;
}

.services-inner-page-logo {
  width: 400px;
}

.services-inner-page-logo img {
  display: block;

  margin: 0 auto;

  width: 380px;
  height: auto;

  filter: drop-shadow(3px 3px 10px rgba(32, 32, 31, 0.5)); 
}

.services-inner-page-item {
  margin: 0 auto;
  padding: auto 0;

  width: 400px;

  text-align: left;
}


/* ---------- ESTIMATE.HTML ---------- */


.construction-info {
  margin: 0;
  padding: 10px 30px;
}

.estimate-item {
  margin: 0;
  padding: 0;
}

.estimate-example {
  padding-bottom: 5px; 
}
.estimate-example-table {
  border-collapse: collapse;

  margin: 20px auto ;
}

.estimate-example-table-title {
  margin-bottom: 10px;

  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
}

.estimate-example-table td, th {
  padding: 5px;

  border: 2px solid #000000;

  font-size: 14px;
}

.estimate-example-table td:first-child {
  width: 510px;

  font-size: 12px;
}

.estimate-example-table td:last-child {
  width: 50px;
  
  text-align: center;
  font-size: 12px;  
}

.estimate-example-table tr:last-child td {
  font-size: 14px;  
  text-decoration: underline;
}

.estimate-example:last-child .estimate-example-table tr:nth-last-child(2) td {
  font-size: 14px;  
  text-decoration: underline;
}


/* ---------- DESIGN.HTML ---------- */


.project-item {
  margin: 0;
  padding: 5px;

  width: 470px;   
}

.project-stages-logo {
  width: 400px;
}

.project-stages-logo img {
  display: block;

  margin: 0 auto;

  width: 300px;
  height: auto;

  filter: drop-shadow(3px 3px 5px rgba(32, 32, 31, 0.5)); 
}

.project-stages-content-wrapper {
  width: 510px;
}

.project-stages-item {
  margin: 0;
  padding: 2px;

  width: 470px;
}

.project-composition-description,
.project-sketch-description,
.project-constructive-description,
.project-3d-description,
.pool-construct-description {
  margin: 0;
  padding: 10px 30px;

  font-size: 12px;
  text-align: justify;
}

.project-composition-description span {
  color: #0000CD; 
}

.project-composition-description a {
  color: #0000CD;
  text-decoration: underline;
}

.project-sketch-list,
.project-constructive-list {
  margin: 0 auto;
}

.project-sketch h4,
.project-architecture h4,
.project-constructive h4 {
  margin: 0;
  padding: 5px 30px;

  font-size: 12px;
  text-align: left;  
}

.project-sketch-item,
.project-architecture-item,
.project-constructive-item {
  margin: 0;
  padding: 2px;

  font-size: 12px;
}

.project-sketch-logo img {
  display: block;
  margin: auto;

  width: 500px;
  height: auto;
  
  filter: drop-shadow(3px 3px 5px rgba(32, 32, 31, 0.5)); 
}

.project-architecture-logo img,
.project-constructive-logo img {
  display: block;
  margin: auto;
  margin-bottom: 20px;

  width: 550px;
  height: auto;
  
  filter: drop-shadow(3px 3px 5px rgba(32, 32, 31, 0.5)); 
}

.project-3d-logo img {
  display: block;
  margin: auto;
  margin-bottom: 20px;

  width: 800px;
  height: auto;
  
  filter: drop-shadow(3px 3px 5px rgba(32, 32, 31, 0.5)); 
}


/* ---------- GALLERY.HTML GALLERY SECTION, POOL.HTML POOL-GALLERY SECTION ---------- */


.gallery-list,
.pool-gallery-list,
.house-gallery-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  margin: 0 5px;
  padding: 0;
  
  list-style: none;
}

.gallery-item-image,
.pool-gallery-item-image,
.house-gallery-item-image {
  margin: 0 auto;
}

.gallery-item,
.house-gallery-item,
.pool-gallery-item {
  margin: 15px 5px;
  
  background-image: url("../img/gallery_pattern.png");
  background-repeat: repeat;
  background-position: 0 0;
  background-color: rgba(24, 22, 22, 0.9);
  filter: drop-shadow(0px 8px 5px rgba(32, 32, 31, 0.5));
}

.gallery-item-image img, 
.house-gallery-item-image img,
.pool-gallery-item-image img {
  width: 290px;
  height: 200px;    
}

.gallery-item-image.vertical img,
.house-gallery-item-image.vertical img,
.pool-gallery-item-image.vertical img {
  width: 240px;
  height: 320px;
}

.pool-construct-wrapper {
  width: 510px;
}

.pool-construct-logo {
  width: 400px;
}

.pool-construct-logo img {
  display: block;
  
  margin: 0 auto;

  width: 350px;
  height: auto;

  filter: drop-shadow(3px 3px 10px rgba(32, 32, 31, 0.5));   
}

.gallery-image-description {
  box-sizing: border-box;
  margin: 0;
  margin-top: -5px;
  padding: 5px;

  width: 290px;
  

  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  font-size: 11px;
}

.gallery-image-description.vertical {
  width: 240px;
}
