.main-footer {
  color: #ffffff;
  background-color: #000000;

  font-size: 14px;
}

.main-footer__wrapper {
  @include container-desktop;

  display: flex;
  align-items: center;
  justify-content: space-between;
}