


/* ---------- SERVICES SECTION ---------- */






/* -------- COMMON (ESTIMATE, CONSTRUCTION, PROJECT, CONTACT-INFO, ABOUT-US, other) SECTION -------- */






.about-us,
.services-inner-page,
.project-stages,
.pool-construct {
  @include block;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;

  font-size: 12px;
}





.about-us-title,
.services-inner-page-title,
.estimate-example-title,
.project-stages-title,
.project-composition-title,
.project-sketch-title,
.project-architecture-title,
.project-constructive-title,
.project-3d-title,
.gallery-title,
.pool-construct-title,
.pool-gallery-title,
.house-gallery-title {
  margin: 0;
  padding: 15px 30px;

  font-size: 16px;
  line-height: 24px;
  text-align: center;  
}



.about-us-description {
  margin: 0;
  padding: 10px 10px;

  width: 470px;

  text-align: justify;
}





/* ---------- CONTACT-INFO SECTION ---------- */






/* ----- forms ----- */




/*  ---------- MAIN FOOTER ---------- */




/* ---------- ABOUT-US.HTML ABOUT-US SECTION ---------- */

/* ---------- ABOUT-US.HTML SERVICE-INNER-PAGE SECTION ---------- */



/* ---------- ESTIMATE.HTML ---------- */





/* ---------- DESIGN.HTML ---------- */


.project-item {
  margin: 0;
  padding: 5px;

  width: 470px;   
}

.project-stages-logo {
  width: 400px;
}

.project-stages-logo img {
  display: block;

  margin: 0 auto;

  width: 300px;
  height: auto;

  filter: drop-shadow(3px 3px 5px rgba(32, 32, 31, 0.5)); 
}

.project-stages-content-wrapper {
  width: 510px;
}

.project-stages-item {
  margin: 0;
  padding: 2px;

  width: 470px;
}

.project-composition-description,
.project-sketch-description,
.project-constructive-description,
.project-3d-description,
.pool-construct-description {
  margin: 0;
  padding: 10px 30px;

  font-size: 12px;
  text-align: justify;
}

.project-composition-description span {
  color: #0000CD; 
}

.project-composition-description a {
  color: #0000CD;
  text-decoration: underline;
}

.project-sketch-list,
.project-constructive-list {
  margin: 0 auto;
}

.project-sketch h4,
.project-architecture h4,
.project-constructive h4 {
  margin: 0;
  padding: 5px 30px;

  font-size: 12px;
  text-align: left;  
}

.project-sketch-item,
.project-architecture-item,
.project-constructive-item {
  margin: 0;
  padding: 2px;

  font-size: 12px;
}

.project-sketch-logo img {
  display: block;
  margin: auto;

  width: 500px;
  height: auto;
  
  filter: drop-shadow(3px 3px 5px rgba(32, 32, 31, 0.5)); 
}

.project-architecture-logo img,
.project-constructive-logo img {
  display: block;
  margin: auto;
  margin-bottom: 20px;

  width: 550px;
  height: auto;
  
  filter: drop-shadow(3px 3px 5px rgba(32, 32, 31, 0.5)); 
}

.project-3d-logo img {
  display: block;
  margin: auto;
  margin-bottom: 20px;

  width: 800px;
  height: auto;
  
  filter: drop-shadow(3px 3px 5px rgba(32, 32, 31, 0.5)); 
}


/* ---------- GALLERY.HTML GALLERY SECTION, POOL.HTML POOL-GALLERY SECTION ---------- */


.gallery-list,
.pool-gallery-list,
.house-gallery-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  margin: 0 5px;
  padding: 0;
  
  list-style: none;
}

.gallery-item-image,
.pool-gallery-item-image,
.house-gallery-item-image {
  margin: 0 auto;
}

.gallery-item,
.house-gallery-item,
.pool-gallery-item {
  margin: 15px 5px;
  
  background-image: url("../img/gallery_pattern.png");
  background-repeat: repeat;
  background-position: 0 0;
  background-color: rgba(24, 22, 22, 0.9);
  filter: drop-shadow(0px 8px 5px rgba(32, 32, 31, 0.5));
}

.gallery-item-image img, 
.house-gallery-item-image img,
.pool-gallery-item-image img {
  width: 290px;
  height: 200px;    
}

.gallery-item-image.vertical img,
.house-gallery-item-image.vertical img,
.pool-gallery-item-image.vertical img {
  width: 240px;
  height: 320px;
}

.pool-construct-wrapper {
  width: 510px;
}

.pool-construct-logo {
  width: 400px;
}

.pool-construct-logo img {
  display: block;
  
  margin: 0 auto;

  width: 350px;
  height: auto;

  filter: drop-shadow(3px 3px 10px rgba(32, 32, 31, 0.5));   
}

.gallery-image-description {
  box-sizing: border-box;
  margin: 0;
  margin-top: -5px;
  padding: 5px;

  width: 290px;
  

  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  font-size: 11px;
}

.gallery-image-description.vertical {
  width: 240px;
}
